<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.paulhitz.redcarded" version="0.0.2">

	<name>RedCarded</name>

	<description>
		Simple mobile app to indicate if someone should be red or yellow carded.
	</description>

	<author href="http://www.paulhitz.com" email="paul@paulhitz.com">Paul Hitz</author>

	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="permissions" value="none"/>

	<icon src="icon.png" />

	<gap:splash src="splash.png" />
	<gap:splash src="resources/images/splash/ios/splash_320x460.png" width="320" height="480" />
	<gap:splash src="resources/images/splash/ios/splash_640x920.png" width="640" height="960" />
	<gap:splash src="resources/images/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="resources/images/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="resources/images/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="resources/images/splash/android/xdpi.png" gap:platform="android" gap:density="xdpi" />
	<gap:splash src="resources/images/splash/winphone/splash_480x800.jpg" gap:platform="winphone" />
</widget>
